[submodule "cookbooks/apt-repo"]
	path = cookbooks/apt-repo
	url = git@github.com:joerg/chef-apt-repo.git
[submodule "cookbooks/admin-essentials"]
	path = cookbooks/admin-essentials
	url = https://github.com/sometimesfood/chef-admin-essentials.git
